In [1]:
import pandas as pd

In [2]:
from importlib import reload
import functions as fun

reload(fun)

In [3]:
%store -r df_tm_movies
%store -r dfgenreIds

In [4]:
dfgenreIds.to_csv('genreIds')

In [5]:
df_tm_movies.head()

,genre_ids,original_title,popularity,vote_average,vote_count,genre_new_list
id,,,,,,
12444,"[12, 14, 10751]",Harry Potter and the Deathly Hallows: Part 1,33.533,7.7,10788,"[12, 14, 10751]"
10191,"[14, 12, 16, 10751]",How to Train Your Dragon,28.734,7.7,7610,"[14, 12, 16, 10751]"
10138,"[12, 28, 878]",Iron Man 2,28.515,6.8,12368,"[12, 28, 878]"
862,"[16, 35, 10751]",Toy Story,28.005,7.9,10174,"[16, 35, 10751]"
27205,"[28, 878, 12]",Inception,27.920,8.3,22186,"[28, 878, 12]"

In [6]:
df_tm = df_tm_movies.drop(['genre_ids'], axis=1)
df_tmdb = df_tm.set_index('original_title').sort_values('original_title')

In [7]:
df_tmdb.rename(columns = {'genre_new_list' : 'genre_list'}, inplace = True)

In [8]:
df_tmdb.head()

,popularity,vote_average,vote_count,genre_list
original_title,,,,
"""BLESSED""",0.600,7.0,1,"[99, 12]"
"""Legitimate Rape"" Pharmaceutical Ad",0.600,2.3,2,"[35, 80]"
"""cherry"" - Supreme",0.893,10.0,1,[99]
#1 Cheerleader Camp,3.277,3.6,34,"[35, 18]"
#ALLMYMOVIES,0.840,9.0,4,[99]

In [9]:
%store df_tmdb

Stored 'df_tmdb' (DataFrame)

In [10]:
df = df_tmdb

In [11]:
genres = df['genre_list'].apply(pd.Series)
# rename each variable
genres = genres.rename(columns = lambda x : 'genre_' + str(x + 1))
# view the new dataframe
genres

,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7
original_title,,,,,,,
"""BLESSED""",99,12,NaN,NaN,NaN,NaN,NaN
"""Legitimate Rape"" Pharmaceutical Ad",35,80,NaN,NaN,NaN,NaN,NaN
"""cherry"" - Supreme",99,NaN,NaN,NaN,NaN,NaN,NaN
#1 Cheerleader Camp,35,18,NaN,NaN,NaN,NaN,NaN
#ALLMYMOVIES,99,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
하하하,35,18,10749,NaN,NaN,NaN,NaN
해양경찰 마르코,16,12,35,NaN,NaN,NaN,NaN
황산벌,36,10752,35,NaN,NaN,NaN,NaN
황해,18,53,80,NaN,NaN,NaN,NaN
후궁: 제왕의 첩,18,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_genres = pd.concat([df[:], genres[:]], axis=1)

In [13]:
df = df_genres.drop(['genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7'], axis=1)

In [14]:
%store df

Stored 'df' (DataFrame)

In [15]:
df.reset_index(drop=True, inplace=True)

In [16]:
df_cleaning = df['genre_1'].value_counts().sort_values(ascending=False)

In [17]:
df.rename(columns = {'genre_1' : 'genres'}, inplace = True)
df.rename(columns = {'popularity' : 'Popularity'}, inplace = True)

In [18]:
df.head()

   Popularity  vote_average  vote_count genre_list genres genre_2
0       0.600           7.0           1  [99,  12]     99      12
1       0.600           2.3           2  [35,  80]     35      80
2       0.893          10.0           1       [99]     99     NaN
3       3.277           3.6          34  [35,  18]     35      18
4       0.840           9.0           4       [99]     99     NaN

In [19]:
df['genres'].apply(lambda x : str(x))

0        99
1        35
2        99
3        35
4        99
         ..
26512    35
26513    16
26514    36
26515    18
26516    18
Name: genres, Length: 26517, dtype: object

In [20]:
df_cleaning

18       4923
99       4407
35       3632
         2479
27       2209
28       1651
53       1533
16        917
10749     694
10402     678
878       572
12        545
80        538
10751     459
10770     365
14        317
9648      287
36        127
10752     103
37         81
Name: genre_1, dtype: int64

In [21]:
len(df_cleaning)

20

In [22]:
%store df_cleaning

Stored 'df_cleaning' (Series)

In [23]:
dftop_genres = df.loc[(df['genres'] == '18') |
                        (df['genres'] == '99') | 
                      (df['genres'] == '35') |
                      (df['genres'] == '27') |
                      (df['genres'] == '28') |
                      (df['genres'] == '53') |
                      (df['genres'] == '16') |
                        (df['genres'] == '10749') |
                        (df['genres']  == '10402')]

In [24]:
dftop_genres['genres'].unique()

array(['99', '35', '27', '53', '18', '10749', '10402', '28', '16'],
      dtype=object)

In [25]:
dftop = dftop_genres

In [26]:
%store dftop

Stored 'dftop' (DataFrame)

In [27]:
dfgen_bud = df.loc[(df['genres'] == '28') |
                        (df['genres'] == '12') | 
                      (df['genres'] == '16') |
                      (df['genres'] == '14') |
                      (df['genres'] == '10751') |
                      (df['genres'] == '878') ]

In [28]:
dfgen_bud

,Popularity,vote_average,vote_count,genre_list,genres,genre_2
12,1.274,5.5,3,"[878, 10402, 35]",878,10402
20,1.230,10.0,1,"[10751, 18]",10751,18
46,6.325,5.9,23,"[28, 35, 10749]",28,35
56,0.667,7.0,1,[16],16,NaN
57,1.144,5.3,8,"[28, 80, 53]",28,80
...,...,...,...,...,...,...
26497,7.941,10.0,3,"[16, 12]",16,12
26498,6.411,6.8,24,"[28, 35, 80, 36, 9648]",28,35
26505,7.080,6.7,101,"[28, 18]",28,18
26506,1.944,7.2,18,"[28, 18]",28,18
26513,0.600,8.0,1,"[16, 12, 35]",16,12

In [29]:
%store dfgen_bud

Stored 'dfgen_bud' (DataFrame)

In [30]:
df['genres'].notnull().value_counts()

True    26517
Name: genres, dtype: int64